body {
  background-image: url("images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body {
  margin: 0;
  color: white;
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #000;
}

p {
  text-align: left; 
}
body {
    padding-top: 20px; /* Adjust as needed */
    margin-top: 0; /* Ensure no default browser margin */
    padding-bottom: 20px; 
    margin-bottom: 0;
    padding-left: 20px; 
    margin-left: 0;
    padding-right: 20px; 
    margin-right: 0;
}

// Windows 7 window

.window {
  display: none; /* hidden initially */
  position: absolute; /* for dragging */
  top: 50px;
  left: 50px;
  max-width: 600px;
}


.title-bar {
  cursor: move;
}
.window {
  max-width: 450px;
}

.window-body {
  max-height: 780px;
  overflow-y: auto;
  padding: 8px;
}
// Tabs

[role="tabpanel"] {
  display: none;
}

[role="tabpanel"].active {
  display: block;
}

// links

 .mytooltip {
            position: relative;
            display: inline-block;
            cursor: pointer;
            text-decoration: underline;
        }

        .mytooltip .mytooltiptext {
            width: 150px;
            background: rgba(173, 216, 230, 0.9); /* lightblue with 10% opacity */
            color: black;
            text-align: center;
            border-radius: 6px;
            padding: 10px;
            position: absolute;
            z-index: 99; 
            bottom: 50%; 
            left: 20%;
            margin-left: -90px;
            opacity: 0;
            transition: opacity 0.3s;
            border: 1px solid black;
            pointer-events: none;
            font-size: 13px !important;
            line-height: 1.5em !important;
            font-weight: normal !important;
            font-style: normal !important;
        }

        .mytooltip .mytooltiptext img {
            max-width: 150px;
            height: auto;
        }

        .mytooltip:hover .mytooltiptext {
            opacity: 1;
            transition-delay: 0.5s;
        }
