body {
  background-image: url("images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body {
  margin: 0;
  color: white;
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #000;
}

// Windows 7 window

.window {
  position: absolute;
  top: 100px;
  left: 100px;
  cursor: default;
}

.title-bar {
  cursor: move;
}

// Tabs

[role="tabpanel"] {
  display: none;
}

[role="tabpanel"].active {
  display: block;
}

