body {
  background-image: url("images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.animate div {
  width: 0;
  height: 100%;
  background: #2563eb;
  animation: grow 2s forwards;
}

@keyframes grow {
  to {
    width: 60%;
  }
}

body {
  font-family: Segoe UI; 
  color: white;
}
