body {
  background-image: url("images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body {
  margin: 0;
  color: white;
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #000;
}

p {
  text-align: left; 
}
body {
    padding-top: 20px; /* Adjust as needed */
    margin-top: 0; /* Ensure no default browser margin */
    padding-bottom: 20px; 
    margin-bottom: 0;
    padding-left: 20px; 
    margin-left: 0;
    padding-right: 20px; 
    margin-right: 0;
}

// Windows 7 window

.window {
  display: none; /* hidden initially */
  position: absolute; /* for dragging */
  top: 100px;
  left: 100px;
  max-width: 600px;
  border: 2px solid #333;
  background: #222;
  color: white;
}


.title-bar {
  cursor: move;
}
.window {
  max-width: 450px;
}

.window-body {
  max-height: 780px;
  overflow-y: auto;
  padding: 8px;
}
// Tabs

[role="tabpanel"] {
  display: none;
}

[role="tabpanel"].active {
  display: block;
}

