body {
  background-image: url("images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.animate div {
  width: 0;
  height: 100%;
  background: #2563eb;
  animation: grow 2s forwards;
}

@keyframes grow {
  to {
    width: 60%;
  }
}

html, body {
  margin: 0;
  color: white;
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #000;
}
